<div *ngIf="player"> 
  <h1 >{{ player.firstName }} {{ player.lastNameName }}</h1>  
  <p>hight: {{player.hight}} weight: {{player.wghite}}</p>
  <ul>
    <li>defence: {{ player.defence }}</li>
    <li>freeThrow: {{ player.freeThrow }}</li>
    <li>twoThrow: {{ player.twoThrow }}</li>
    <li>thereThrow: {{ player.thereThrow }}</li>
    <li>passing: {{ player.passing }}</li>
    <li>drible: {{ player.drible }}</li>
    <li>speed: {{ player.speed }}</li>
    <li>footwork: {{ player.footwork }}</li>
    <li>rebound: {{ player.rebound }}</li>
    <li>expirance: {{ player.expirance }}</li>
  </ul>

</div>